.personal-info {
    border: 5px solid #ccc;
    padding: 25px;
    border-radius: 15px;
    background-color: #fb7e7e;
    margin-bottom: 25px;
  }
  .personal-info {
    margin-bottom: 15px;
    color: #0c5227;
    text-decoration: peachpuff;
  }
  